<div class="backdrop fixed pin bg-overlay" [ngStyle]="{'display': display}">
  <div class="modal">
    <div class="modal-dialog mx-auto my-4 w-500px" role="document" [ngStyle]="{'display': display}">
      <div class="modal-content flex flex-col rounded border-grey-light border bg-white">
        <div class="modal-header flex py-4 px-4 border-b border-grey-light items-center justify-between rounded-top">
          <h5 class="modal-title text-lg">{{ error?.title }}</h5>
          <button type="button">
            <span aria-hidden="true" class="text-grey-dark text-xl font-bold" (click)="onErrorHandled()">&times;</span>
          </button>
        </div>
        <div class="modal-body py-6 px-4 text-sm">
          <p>{{ error?.message }}</p>
        </div>
        <div class="modal-footer flex py-4 px-4 border-t border-grey-light items-center justify-end rounded-b">
          <button type="button" class="rounded text-white bg-grey-dark px-4 py-2" (click)="onErrorHandled()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

