<div class="client-main-container flex flex-col h-screen flex-no-wrap">
  <app-client-main-header class="client-header w-full h-60px flex flex-none items-center bg-grey-lightest px-6 text-sm border-b border-grey"></app-client-main-header>
  <div class="client-main-body flex-grow overflow-y-scroll bg-grey-lightest" #messagesContainer>
    <app-client-main-body></app-client-main-body>
  </div>
  <app-client-main-footer class="client-main-footer border-box flex-none h-60px px-4 bg-grey-lightest"></app-client-main-footer>
</div>

